@import "./globals.css";

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes ripple {
  0% {
    background-position: 400% 0;
  }
  100% {
    background-position: -400% 0;
  }
}

@layer utilities {
  #converter {
    @apply bg-sky-100;
    @apply shadow-lg rounded-b-lg;
  }

  #converter .converter-wrapper {
    @apply max-w-xl mx-auto px-6 pb-3;
  }

  #converter .converter-form {
    @apply flex flex-col gap-y-3;
  }

  #converter .split-container {
    @apply grid gap-3 grid-cols-1;
    @apply min-[30rem]:grid-cols-2;
  }

  #converter #convert-button {
    @apply relative overflow-hidden;
  }

  #converter #convert-button .content {
    @apply relative z-2 flex flex-row;
    @apply justify-center items-center gap-2;
  }

  #converter #convert-button .progress-bar {
    @apply absolute z-1 inset-0 h-full;
    @apply transition-colors duration-300 ease-in;

    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 35%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(255, 255, 255, 0) 65%
    );

    background-size: 400% 100%;
    animation: ripple 10s linear infinite;
  }

  #converter #convert-button .progress-bar[data-status="converting"] {
    @apply bg-sky-600;
  }

  #converter #convert-button:hover .progress-bar[data-status="converting"] {
    @apply bg-sky-700;
  }

  #converter #convert-button .progress-bar[data-status="processing"] {
    @apply bg-green-600;
  }

  #converter #convert-button:hover .progress-bar[data-status="processing"] {
    @apply bg-green-700;
  }

  #converter #convert-button[aria-busy="true"] svg {
    animation: rotate infinite 2s linear;
  }
}
