@import "./globals.css";

@layer components {
  .dropdown-wrapper {
    @apply relative block;
  }

  .dropdown-wrapper .dropdown-button {
    @apply input outline-solid w-full;
    @apply flex items-center justify-between gap-2;
  }

  .dropdown-wrapper .dropdown-button svg {
    @apply text-lg aspect-square;
    @apply transition-transform duration-300 ease-in;
  }

  .dropdown-wrapper .dropdown-list {
    @apply w-48 max-w-screen;
    @apply bg-neutral-800;
    @apply absolute z-50 mt-2;
    @apply outline-1 outline-neutral-400;
    @apply shadow-uniform-sm shadow-black/50;
    @apply rounded-xs overflow-hidden;
    @apply duration-300 ease-in;

    transition-property: border-color, box-shadow, outline, outline,
      background-color;
  }

  .dropdown-wrapper .dropdown-item {
    @apply relative pl-3 py-2 m-0 mt-[1px];
    @apply bg-neutral-800 hover:bg-neutral-750 font-100;
    @apply text-neutral-100 hover:text-neutral-50;
    @apply focus-visible:outline-offset-0 focus-visible:outline-1;
    @apply focus-visible:outline-neutral-100;
    @apply list-none cursor-pointer transition-colors;
    @apply duration-200 ease-in;

    list-style: none;
  }

  .dropdown-wrapper .dropdown-item:first-child {
    @apply rounded-t-sm;
  }

  .dropdown-wrapper .dropdown-item:last-child {
    @apply rounded-b-sm;
  }

  .dropdown-wrapper .dropdown-check {
    @apply text-lg text-primary-300;
    @apply absolute top-0 right-3;
    @apply h-full aspect-square;
  }
}
