@import "tailwindcss";
@import "./theme.css";

@layer base {
  * {
    box-sizing: border-box;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
      transform: none !important;
      animation: none !important;
    }
  }

  ::selection {
    @apply bg-primary-500/25 text-neutral-150;
  }

  ::-moz-selection {
    @apply bg-primary-500/25 text-neutral-150;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-xs;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-500 rounded-xs;
    @apply border-2 border-neutral-700;
    @apply hover:bg-neutral-600;
  }

  html,
  body {
    @apply bg-neutral-950 text-neutral-200 font-300;
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c #0000;
    scrollbar-gutter: stable;
  }

  html {
    @apply scroll-smooth scroll-p-5;
  }

  body {
    @apply text-base font-300;
    @apply tracking-normal leading-normal;
    @apply min-h-screen;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d0d0d0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-neutral-150 min-w-full px-12;
    @apply text-center text-balance font-400;

    max-width: var(--container-size-xs);
  }

  h1 {
    @apply text-5xl pt-2 pb-2;
  }

  h2 {
    @apply text-3xl pt-4 pb-2;
  }

  h3 {
    @apply text-3xl pt-4 pb-2;
  }

  h4 {
    @apply text-2xl pt-4 pb-2;
  }

  p,
  ul,
  ol {
    @apply wrapper-md text-neutral-200;
    @apply text-left font-300;
  }

  p:has(+ p) {
    @apply mb-4;
  }

  ul,
  ol {
    @apply mt-1 mb-3;
  }

  li {
    @apply ml-6 list-disc;
  }

  /* Links */

  .link {
    @apply text-primary-500 hover:text-primary-400;
    @apply outline-offset-1 border-none focus-visible:outline-1;
    @apply focus-visible:outline-current;
    @apply transition duration-300 ease-in;
    @apply relative;

    text-decoration: none;
  }

  .link::after {
    content: "";

    @apply absolute bottom-[2px] right-0;
    @apply w-0 h-[1px];
    @apply duration-300 ease-in;

    background-color: currentColor;
    transition-property: width, color, background-color;
  }

  .link:hover::after {
    @apply w-full left-0;
  }

  .link:focus::after {
    @apply w-0;
  }

  /* Form Elements */

  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"],
  input[type="url"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  input[type="file"],
  textarea {
    @apply input;
  }

  textarea {
    @apply w-full h-auto min-h-9.5;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply accent-primary-400 w-4 h-4;
  }

  label {
    @apply block flex-grow;
  }
 
  label > input[type="checkbox"],
  label > input[type="radio"] {
    @apply translate-y-0.5 mr-2 cursor-pointer;
  }

  label > input[type="checkbox"]:disabled,
  label > input[type="radio"]:disabled {
    @apply cursor-not-allowed;
  }

  label > input[type="checkbox"]:disabled + span,
  label > input[type="radio"]:disabled + span {
    @apply text-neutral-450;
  }

  input[type="range"] {
    @apply accent-primary-400;
    @apply w-full h-4;
    @apply cursor-pointer;
  }

  /* Text */

  .text-red {
    @apply text-red-600;
  }

  .text-green {
    @apply text-green-600;
  }

  .text-blue {
    @apply text-blue-600;
  }

  .text-purple {
    @apply text-purple-600;
  }

  .text-yellow {
    @apply text-yellow-500;
  }

  .text-gold {
    @apply text-amber-500;
  }
}
