@theme {
  --color-primary-50: oklch(0.98 0.04 250);
  --color-primary-100: oklch(0.94 0.06 250);
  --color-primary-150: oklch(0.9 0.08 250);
  --color-primary-200: oklch(0.86 0.1 251);
  --color-primary-250: oklch(0.8 0.12 250);
  --color-primary-300: oklch(0.74 0.14 249);
  --color-primary-350: oklch(0.68 0.15 248);
  --color-primary-400: oklch(0.62 0.16 247);
  --color-primary-450: oklch(0.56 0.17 246);
  --color-primary-500: oklch(0.5 0.18 245);
  --color-primary-550: oklch(0.44 0.18 244);
  --color-primary-600: oklch(0.38 0.17 243);
  --color-primary-650: oklch(0.32 0.16 242);
  --color-primary-700: oklch(0.26 0.14 241);
  --color-primary-750: oklch(0.2 0.12 240);
  --color-primary-800: oklch(0.16 0.1 239);
  --color-primary-850: oklch(0.12 0.08 238);
  --color-primary-900: oklch(0.08 0.06 237);
  --color-primary-950: oklch(0.04 0.04 236);

  --color-neutral-50: oklch(0 0 0);
  --color-neutral-100: oklch(0.1 0 0);
  --color-neutral-150: oklch(0.15 0 0);
  --color-neutral-200: oklch(0.2 0 0);
  --color-neutral-250: oklch(0.25 0 0);
  --color-neutral-300: oklch(0.3 0 0);
  --color-neutral-350: oklch(0.35 0 0);
  --color-neutral-400: oklch(0.4 0 0);
  --color-neutral-450: oklch(0.45 0 0);
  --color-neutral-500: oklch(0.5 0 0);
  --color-neutral-550: oklch(0.55 0 0);
  --color-neutral-600: oklch(0.6 0 0);
  --color-neutral-650: oklch(0.65 0 0);
  --color-neutral-700: oklch(0.7 0 0);
  --color-neutral-750: oklch(0.75 0 0);
  --color-neutral-800: oklch(0.81 0 0);
  --color-neutral-850: oklch(0.86 0 0);
  --color-neutral-900: oklch(0.93 0 0);
  --color-neutral-950: oklch(0.97 0 0);

  --shadow-uniform-xs: 0 0 3px 1px rgb(0 0 0);
  --shadow-uniform-sm: 0 0 5px 2px rgb(0 0 0);
  --shadow-uniform-md: 0 0 8px 3px rgb(0 0 0);
  --shadow-uniform-lg: 0 0 10px 5px rgb(0 0 0);
  --shadow-uniform-xl: 0 0 12px 7px rgb(0 0 0);
  --shadow-uniform-2xl: 0 0 15px 10px rgb(0 0 0);

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --wrapper-xs: 20rem;
  --wrapper-sm: 30rem;
  --wrapper-md: 40rem;
  --wrapper-lg: 50rem;
  --wrapper-xl: 60rem;
}

@utility full-screen {
  min-height: calc(100vh - 7rem);
}

@utility input {
  @apply px-3 py-2 h-10 m-0 mt-1 w-full;
  @apply bg-neutral-950 text-neutral-150 rounded-xs;
  @apply disabled:bg-neutral-600 disabled:text-neutral-400;
  @apply disabled:hover:bg-neutral-850 disabled:hover:text-neutral-400;
  @apply outline-1 outline-neutral-600 hover:outline-primary-500;
  @apply focus-visible:outline-2 focus-visible:outline-primary-500;
  @apply shadow-sm hover:shadow-md;
  @apply placeholder:text-neutral-500;
  @apply duration-300 ease-in;

  transition-property:
    border-color, outline-color, box-shadow, background-color;
  flex-grow: 1000;
}

@utility icon {
  @apply grid place-items-center aspect-square;
}

@utility wrapper-* {
  @apply mx-auto;
  --side-spacing: calc(100vw - 2rem);

  @media (min-width: 24rem) {
    --side-spacing: calc(100vw - 4rem);
  }

  @media (min-width: 40rem) {
    --side-spacing: calc(100vw - 9rem);
  }

  max-width: min(var(--side-spacing), --value(--wrapper- *));
}
