@import "../css/globals.css";

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes ripple {
  0% {
    background-position: 400% 0;
  }
  100% {
    background-position: -400% 0;
  }
}
@keyframes glide {
  0% {
    transform: translate(0, 0) scale(1);
  }

  25% {
    transform: translate(20%, 18%) scale(1.02);
  }

  50% {
    transform: translate(15%, -16%) scale(0.98);
  }

  75% {
    transform: translate(-17%, 14%) scale(1.05);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  13% {
    opacity: 0.8;
  }

  18% {
    opacity: 0.3;
  }

  25% {
    opacity: 0.95;
  }

  40% {
    opacity: 0.6;
  }

  54% {
    opacity: 1;
  }

  71% {
    opacity: 0.3;
  }

  87% {
    opacity: 1;
  }

  94% {
    opacity: 0.7;
  }
}

@layer utilities {
  #converter {
    @apply bg-neutral-950 relative overflow-hidden;
    @apply shadow-lg rounded-b-lg;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d0d0d0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  #converter h1 {
    @apply text-black;
  }

  #converter .converter-wrapper {
    @apply max-w-xl mx-auto px-6 pb-4;
    @apply relative z-1;
  }

  #converter .converter-form {
    @apply flex flex-col gap-y-3;
  }

  #converter .split-container {
    @apply grid gap-3 grid-cols-1;
    @apply min-[30rem]:grid-cols-2;
  }

  #converter #convert-button {
    @apply relative overflow-hidden;
  }

  #converter #convert-button:disabled {
    @apply cursor-not-allowed hover:brightness-80;
    @apply bg-neutral-600 text-neutral-950;
    @apply hover:bg-neutral-600 hover:text-neutral-950;
  }

  #converter #convert-button .content {
    @apply relative z-2 flex flex-row;
    @apply justify-center items-center gap-2;
  }

  #converter #convert-button .progress-bar {
    @apply absolute z-1 inset-0 h-full;
    @apply transition-colors duration-300 ease-linear;

    transition-property:
      width, color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke, --tw-gradient-from,
      --tw-gradient-via, --tw-gradient-to;

    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 35%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(255, 255, 255, 0) 65%
    );

    background-size: 400% 100%;
    animation: ripple 10s linear infinite;
  }

  #converter #convert-button .progress-bar.conversion {
    @apply bg-sky-600;
  }

  #converter #convert-button .progress-bar.processing {
    @apply bg-green-600;
  }

  #converter #convert-button[aria-busy="true"] svg {
    animation: rotate infinite 2s linear;
  }

  /* Blobs */

  #converter .blob {
    @apply absolute inset-0;
    @apply aspect-square rounded-full;
    @apply bg-radial/oklch;
    @apply blur-md backdrop-blur-[0.5px];
  }

  #converter .blob-1 {
    @apply left-full top-full w-full;
    @apply -translate-x-1/2 -translate-y-1/2;
    @apply from-purple-600/40 to-primary-300/1;

    animation:
      blink 30s ease-in infinite,
      glide 80s ease-out infinite;
  }

  #converter .blob-2 {
    @apply -top-[22vw] left-[20vw] w-[33vw];
    @apply from-primary-500/40 to-sky-300/1;

    animation:
      blink 10s ease-in infinite,
      glide 40s ease-out infinite;
  }

  #converter .blob-3 {
    @apply top-6 -left-[15vw] w-[50vw];
    @apply from-blue-600/40 to-cyan-300/1;

    animation:
      blink 20s ease-in infinite,
      glide 50s ease-out infinite;
  }
}
